:root {
    --theme-blue: #113B51;
    --theme-blue-10: #113b5115;
    --theme-blue-90: #113b51b7;
    --theme-gray: rgba(17, 59, 81, 0.05);
    --purple:#523080;
    --blue-dark: #113b51b7;
    --orange: rgb(240, 161, 140);
    --orange-dark: #082f44e3;
    --theme-light-blue: #05BFFF;
    --white: rgba(255,255,255);
    --white-40: rgba(255,255,255,0.4);
  }

.material-icons {
    direction: ltr;
    display: inline-block;
    font-family: 'Material Icons';
    font-size: 24px;
    font-style: normal;
    font-weight: normal;
    letter-spacing: normal;
    line-height: 1;
    text-transform: none;
    white-space: nowrap;
    word-wrap: normal;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
    margin-left: auto;
}


.alert{
    position: fixed;
    bottom: 0px;
    width: 100%;
    z-index: 10000;
    
  }
  .alert-content{
    margin: 2rem;
    height: 12vh;
    background-color: #ffffff;
    border-radius: 25px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .close{
  width: 10%;
  text-align: right;
  margin-right: 20px;
  }
  a.close{
    font-size: 2rem;
    text-decoration: none;
    color: var(--theme-blue);
  }
  .text-alert{
    text-align: center;
    width:90%;
  }
  p.text-alert{
    color: var(--theme-light-blue);
    font-weight: 600;
    font-size: 1.2rem;
    margin-bottom:20px;
  }
  #sub-text{
    color: var(--theme-blue);
    font-weight: 500;
    font-size: 1rem;
  }
  a#text-link{
  color: var(--theme-blue);
  border-bottom: 1px dashed var(--theme-light-blue);
  text-decoration: none;
  font-weight: 600;
  }
body{
    font-family: proxima-nova,sans-serif;
      margin:0px;
      background-color: #ffffff;
  }
#odpl{
margin-top:0rem;
margin-bottom:2rem;

}

#odpl h2{
    padding-top:0;
}
.header-logo{
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: var(--theme-blue);
    }
#underline{
    border-bottom: 5px solid var(--theme-light-blue);
    }
.header-logo img{
    padding:20px 10px;
    height: 30px;
}
.header-logo img#odpl-logo{
    padding:10px 20px;
    height: 25px;
}
.hero{
    padding: 2rem;
    height: 55vh;
    background-color: var(--theme-blue);
    color: var(--white);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.faculty.hero{
    height: 35vh;
}
.faculty.hero.others{
    height: 15vh;
}
.faculty.hero h1{
    font-size: 4rem;
    font-weight: 200;
}
.faculty-page{
    padding: 2rem 15rem;
}
.faculty-item{
    display:flex;
    flex-direction: row;
    padding: 4rem 0;
    border-bottom: 1px solid var(--theme-light-blue);
}
.faculty-item.last{

    border-bottom: 0px solid var(--theme-light-blue);
}
.faculty-item .faculty-text{
    padding: 0 4rem;
}
.faculty-text p,h3,h5{
    margin:0;
}
.faculty-text p{
    line-height: 1.8;
    color: var(--theme-blue);
    font-weight: 300;
}
.faculty-text ul{
    line-height: 1.8;
    color: var(--theme-blue);
    font-weight: 300;
}
.faculty-text h3{
    font-size: 2.5rem;
    font-weight: 300;
    margin-top: 20px;
    color: var(--theme-light-blue);
}
.faculty-text h5{
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--theme-blue);
    padding: 1rem 0;
}
.hero h4{
   font-weight: 300;
    margin:1rem;
    font-size: 1.5rem;

    color: var(--theme-light-blue);

}
.hero h3{
    font-weight: 400;
    margin:10px;
}
.hero h1{
    margin:0;
    /* text-transform: uppercase; */
    font-weight: 300;
    font-size: 2rem;
    padding-top:2rem;
}
.intro-text{
    background-color: var(--theme-light-blue); 
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.intro-text img{
    width: 50%;
    height:50%;
    display:block;
}
.intro-text-box{
    width: 50%;
    margin: 2rem 6rem 2rem 6rem;
}
.text{
    padding: 2rem 12rem 0rem 12rem;
}
.text p{
    font-size: 1.4rem;
    font-weight: 300;
    line-height: 1.5;
}

.intro-text p{

    color: var(--orange-dark);
    font-size: 1.5rem;
    font-weight: 300;
    line-height: 1.8;
    text-align: left;
}

#team {
    background-color: var(--theme-blue);
  }
  #team h2{
    color: #ffffff;
  }
  .team{
    display: flex;
    flex-direction: row ;
    max-width: none;
  margin-left: auto;
  margin-right: auto;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
    margin: 1rem 8rem;
    padding: 1rem 0;

  }
  .other-team{
    margin: 1rem 12rem;
  }
  .team-image{
    -webkit-flex: 0 0 25%;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
    color: white;
    height: 400px;
  }
  .team-image.team-50{
    -webkit-flex: 0 0 50% !important;
    -ms-flex: 0 0 50%  !important;
    flex: 0 0 50%  !important;
    max-width: 50%  !important;
    color: white;
    height: 400px;
  }
  .faculty-image{
    display:flex;
    flex-direction: column;
    color: white;

    justify-content: center;
    align-content: center;
  }
  .team-image img{
  width: auto;
    height: 110%;
  }
  .faculty-image img{
    width: auto;
      height: 110%;
    }
  .team-image h4{
      font-size: 1.2rem;
    color: var(--theme-blue);
    margin-bottom:0;
  }
  .team-image h5{
    color: var(--theme-blue);
    margin: 0.5rem 0 1rem 0;
    font-size: 1rem;
    font-weight: 200;
  }
  .team-image .square{
    display: inline-block;
    position: relative;
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 50%;
    border: 0px solid var(--theme-blue);
  }
  .faculty-image .square{
    display: inline-block;
    position: relative;
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 50%;
    border: 0px solid var(--theme-blue);
  }
  .hide{
      display:none;
  }
  .team a{
color: var(--theme-blue);
font-size: 16px;
text-decoration: none;
  }
  #bio{
    padding: 0.5rem 1rem;
    border: 1px solid var(--theme-blue);

  }
  .team a:hover{
    color: #523080;
  }
  .team a:hover #bio{
    border: 1px solid #523080;
  }
.section-box{
    display:flex;
    flex-direction: row;
    width: 100%;
}
.section-box img#govlab-chalk {
    width: 100%; 
    height: 500px;
    display:block;
}
.section-box img{
    width: 30%;
    height:700px;
    display:block;
}
.section-box.nyc img{
    width: 45%; 
}
.section-box a{
    width:50%;
}
#goals .section-box{
    justify-content: center;
    align-items: center;
}
#govlab.text-box{
padding-bottom: 4rem;
}
#govlab.text-box p{
    font-weight: 200;
    }
.section-box.coaching img{
margin-left: 10rem;
margin-top: 2rem;
width: 40%;
height:400px;
}
.section-box.coaching.optional img{
    margin-left: 0rem;
    margin-top: 0rem;
    padding: 0rem 0rem 0rem 0rem;
    object-fit: contain; 
       
    }
.section-box.coaching{

    justify-content: center;
    align-items: center;
}
.container{
    display:flex;
    flex-direction: column;
    background-color:var(--theme-blue-10);
    justify-content: center;
    padding: 0 2rem;
}
.container li,p{
    font-size: 1.1rem;
    font-weight: 300;
    margin-bottom: 10px;
}
.container.white{
    background-color:white;
}
.container.coaching ul{
    margin:0rem 5rem 0 12rem;
}
.container.coaching.exp  ul{
    margin:0rem 5rem 0 0rem;
}
.container.coaching.optional ul{
    text-align:left;
    margin:0rem 0rem 0 4rem;

}
.section-box.coaching .container.coaching p{

    margin:0rem 8rem 0 0rem;

}
.section-box.coaching.optional .container.coaching p{

    margin:0rem 0rem 0 0rem;
    text-align:center;

}
.text-box .container.optional p {
    margin:0 0 1rem 0;
    padding:0 0 1rem 0 0;
}
.section-box.nyc .container  p{
    padding: 1rem 4rem 1.5rem 4rem;
    margin-bottom:2rem;
   
}
.section-box.nyc{
    justify-content: center;
    align-items: center;
}
.section-box p{
    margin: 2rem 0rem 2rem 0rem;
}

.text-box .container p{
    padding: 2rem 0rem 2rem 3rem;
    margin: 0rem 0rem 0 0rem;

}
#goals.text-box .container.white li{

    font-size: 1.1rem;
}
.right p{
    text-align:right;

}

#goals.text-box h2{
    background-color:white;
}
.text-box h2{
 font-weight: 800;
background-color:white;
 color: var(--theme-blue);
 padding:4rem 0rem 4rem 0rem;
 margin:0;
 font-size: 3.5rem;
 text-align: center;
}
.text-box p{
    padding: 2rem 2rem 2rem 2rem;
    margin: 0rem 8rem 0 8rem;
    line-height:  1.5;

}

.text-box ol{
    padding: 0rem 2rem 0rem 0rem;
    margin: 0rem 2rem 0 4rem;
    line-height:  2;
    list-style: none;
    counter-reset: li;
  
}
.text-box ul{
    padding: 0rem 2rem 0rem 2rem;
    margin: 0rem 8rem 0 9rem;
    line-height:  2;
    list-style: none;
    counter-reset: li;
  
}
.text-box ol li {
    counter-increment: li;
}

.text-box ol li:before{
    content: counter(li); 
    color: var(--theme-blue);
    font-weight:600;
    display: inline-block; 
    width: 1em;
    margin-left: -1em;
}
.text-box ul li:before{
   
    color: var(--theme-blue);
    content: "•";
    font-weight:600;
    font-size: 1rem;
    display: inline-block; 
    width: 1em;
    margin-left: -1em;
}
#bold{
    font-weight: 600;
    color: var(--theme-blue);
}
.sessions{
    padding: 1rem 2rem 0 2rem;
    margin: 0rem 8rem 0 8rem;
}
.faqs{
    padding: 1rem 2rem 1rem 2rem;
    margin: 0rem 8rem 4rem 8rem;
}

 .panel {
   display: flex;
   flex-direction: column;
   order: 2;
   background-color: rgba(27, 138, 207, 0);
   overflow: hidden;
   transition: max-height 0.2s ease-out;
   padding: 0rem 0rem;
 }
 .panel_session {
    display: flex;
    flex-direction: column;
    order: 2;
    background-color: rgba(27, 138, 207, 0);
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
  }
.text-box .panel p{
    margin: 0 2rem;
}
.faqs .panel p{
    line-height: 1.4;
}
.faqs .panel ul{
    line-height: 2;
    font-size: 1.1rem;
    margin: 0 4rem 0 4rem;
}
.accordion{
    width: 100%;
    padding:1rem;
    background-color: var(--theme-blue-10);
    display: flex;
    flex-direction: row;
    box-shadow: none;
    border:none;
    font-size: 1rem;
    margin: 1rem 0 0 0;
}
.accordion:hover{
    background-color: var(--purple);
    cursor: pointer;
    color: #ffffff;
    transition: all .6s ease;
}
.accordion:hover #bold{
    font-weight: 600;
    color: var(--theme-light-blue);
}
.accordion.active{
    background-color: var(--purple);
    cursor: pointer;
    color: #ffffff;
    transition: all .6s ease;
}
.accordion.active #bold{
    font-weight: 600;
    color: var(--theme-light-blue);
}
.accordion.faculty-more.active{
    background-color: var(--theme-blue-10);
    cursor: pointer;
    color: #ffffff;
    transition: all .6s ease;
}
.accordion.faculty-more:before {
    content: "MORE";
    color:var(--theme-blue);
  }
  .active.faculty-more:before {
    content: "LESS";
    color:var(--theme-blue);
  }
.accordion.faculty-more.active #bold{
    font-weight: 600;
    color: var(--theme-blue);
}
.accordion:hover #bold{
    font-weight: 600;
    color: var(--theme-light-blue);
}
.accordion.faculty-more:hover{
    background-color: var(--theme-gray);
    cursor: pointer;
    color: #ffffff;
    transition: all .6s ease;
}
.active{
    font-size: 1rem;
  }

.optional .accordion ul{
    margin:0;
    padding:0;
}
#optional{
    text-align: center;
}
#optional img{
    height:100%;
    width:100%;
}
.optional-img{
width:50%;
}
#optional .accordion{
    
    margin: 1rem auto 1rem auto;
    width: 80%;
}
.container.coaching.optional{
    width:50%;
}

.accordion .material-icons:before {
    font-weight: 200;
    content: 'keyboard_arrow_down';
}
.active .material-icons:before { 
    font-weight: 200;
    content: 'keyboard_arrow_up';
}
.container.white.process{
    padding: 0 3rem 0 1rem;
    width: 60%;
}
.section-box.process{
    display:flex;
    flex-direction: row;
}
.faculty .sub{
font-size: 1.2rem;
padding:0;
font-weight: 400;
color: var(--theme-blue);
text-align:center;
}
.faculty-bio{
    display:flex;
    flex-direction: row;
    background-color: var(--theme-blue-10);
    padding: 1rem 2rem 0 2rem;
    margin: 2rem 8rem 0 8rem;
    
}
.faculty{
    justify-content: center;
    text-align: center;
}
.faculty h2{

 background-color:white;
 color: var(--theme-blue);
 padding:4rem 0rem 4rem 0rem;
 margin:0;
 font-size: 3.5rem;
}
.faculty p{
    text-align: justify;
    padding:2.5rem;
}
.faculty-bio img{
    width: auto;
    height: 100%;
}
.faculty-bio h2{
    background-color: rgba(0,0,0,0);
    color:  var(--orange-dark);
    padding:0;
    margin-top: 30px;
}
.image {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%;
    text-align:center;
}
.bio-text{
    width:70%;
    color: var(--orange-dark);
}

.faculty-bio .image .square{
    display: inline-block;
    position: relative;
    width: 180px;
    height: 180px;
    overflow: hidden;
    border-radius: 50%;
    border: 4px solid var(--orange-dark);
}

a.translate-es::before{
    content: "Espanōl";
}
a.translate-en::before{
    content: "English";
}
.translate-es,.translate-en:hover{
    cursor: pointer;
}
footer{
    display:flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: 20px;
    background-color: rgb(0,0,0);
    color: rgba(255,255,255,0.5);
    font-size: 0.8rem;
}


footer img{
    padding: 0 20px 0 20px;
}
footer a{
    color: rgba(255,255,255,0.5);
}
footer p{
    margin:0;
}

