<!DOCTYPE html>
<html lang="en">

<head>

  <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE11">
  <meta charset="UTF-8">
  <meta name="description" content="" />
  <meta property="og:type" content="website" />
  <meta property="og:title" content="GovLab Executive Education Program" />
  <meta property="og:description" content="" />
  <meta property="og:image" content="img/hero.jpeg" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Open Data Policy Lab Executive Education Program</title>
  <link href="css/styles.css" rel="stylesheet">
  <link href="css/navbar.css" rel="stylesheet">
  <link href="css/mobile.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://use.typekit.net/kwv5eho.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <script src="https://unpkg.com/@directus/sdk-js@5.3.4/dist/directus-sdk.umd.min.js"></script>
</head>
<header class="header-logo">
  <a href="http://thegovlab.org" target="_blank">
    <img src="img/govlab-logo-white.png" alt="The GovLab">
  </a>

</header>

<body>

  <div id="intro" class="faculty hero">
    <!-- <h4>Today’s Problems: Tomorrow’s Toolkit</h4> -->
    <img id="odpl-logo" src="img/open-data-policy-lab-logo-horizontal-white.svg">
    <!-- <h4>The Open Data Policy Lab Executive Education Program in</h4> -->
    <h1>Program Leads</h1>

  </div>


  <div class="faculty-page">

    <div id="home-page">
      <div class="grid bios">
        <div v-for="(instructor,index) in facultyData" class="faculty-item">
          <div class="faculty-image">
            <div class="square">
              <img v-bind:src="instructor.headshot.data.thumbnails[3].url">
            </div>
          </div>
          <div class="faculty-text">
            <h3>{{instructor.name}}</h3>
            <h5>{{instructor.title}}</h5>

            <p v-bind:class="{ hide: showMessage && index_active==index }" v-if="instructor.short_bio">{{instructor.short_bio}} </p>
            <div v-if="!instructor.short_bio" v-html="instructor.full_bio"></div>

            <div v-if="instructor.short_bio && showMessage && index_active==index" class="panel" v-html="instructor.full_bio">

            </div>
            <div v-if="instructor.short_bio" @click="toggleMessage(index)" v-bind:class="{ active: showMessage && index_active==index }" class="accordion faculty-more"><i class="material-icons down"></i></div>
          </div>

        </div>
      </div>
    </div>
  </div>
</body>
<footer>
  <img src="img/cc-logo.png">
  <p>This work is licensed under a <a href="http://creativecommons.org/licenses/by-sa/4.0/">Creative Commons
      Attribution-ShareAlike 4.0 International License</a>.</p>

</footer>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js">
</script>
<script src='https://unpkg.com/vue@2.0.3/dist/vue.js'></script>
<script src="https://unpkg.com/vue-meta/dist/vue-meta.min.js"></script>
<script src="js/odpl-course.js"></script>

</html>