<!DOCTYPE html>
<html lang="en">

<head>

  <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE11">
  <meta charset="UTF-8">
  <meta name="description" content="" />
  <meta property="og:type" content="website" />
  <meta property="og:title" content="Open Data Policy Lab Executive Education Program" />
  <meta property="og:description" content="In recent years, data has been increasingly deployed to inform policies targeted at these issues. Yet, many of
  these data projects, data collaboratives, and open data initiatives remain scattered. As we enter
  into a new age of data use and reuse, a third wave of open data, it is more important than ever to be strategic
  and purposeful, to find new ways to connect the demand for data with its supply to meet institutional objectives." />
  <meta property="og:image" content="https://course.opendatapolicylab.org/img/og-graph.png" />
  <meta property="twitter:title" content="Open Data Policy Lab Executive Education Program" />
  <meta property="twitter:image" content="https://course.opendatapolicylab.org/img/og-graph.png" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Open Data Policy Lab Executive Education Program</title>
  <link href="css/styles.css" rel="stylesheet">
  <link href="css/navbar.css" rel="stylesheet">
  <link href="css/mobile.css" rel="stylesheet">
  <link rel="stylesheet" href="https://use.typekit.net/zih0xmk.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://unpkg.com/@directus/sdk-js@5.3.4/dist/directus-sdk.umd.min.js"></script>
</head>
<header class="header-logo">
  <a href="http://thegovlab.org" target="_blank">
    <img src="img/govlab-logo-white.png" alt="The GovLab">
  </a>
  <a href="http://thegovlab.org" target="_blank">
    <img id="odpl-logo" src="img/open-data-policy-lab-logo-horizontal-white.svg">
  </a>

</header>
<!-- <div id="alert-msg" class="alert">
  <div class="alert-content">
    <p class="text-alert">APPLICATIONS OPEN<br><span id="sub-text">Apply <i><a
            href="https://docs.google.com/forms/d/e/1FAIpQLScWD0EUWrN3i-ou9wcPeyDQSokVuLpwJqmKvtTuenjN7M3TZg/viewform?usp=sf_link"
            id="text-link" target="_blank">here</a></i> by December 18, 2020 to be considered for the next cohort of
        learners. </span></p>

    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
  </div>
</div> -->

<body>
  <div class="topnav-m">
    <a href="javascript:void(0);" class="icon" onclick="nav()">
      <i class="fa fa-bars"></i>
    </a>

  </div>

  <nav id="navbar">
    <ul id="mainNav">

      <li class="active"><a href="#overview">Overview</a></li>
      <li><a href="#outline">Program Outline</a></li>
      <li><a href="#objectives">Course Objectives</a></li>
      <li><a href="#application">Application</a></li>
      <li><a href="#team_section">Faculty</a></li>
      <li><a href="#faq">FAQs</a></li>
      <li><a
          href="https://opendatapolicylab.org/articles/data-stewards-academy-participant-testimonials/index.html">Testimonials</a>
      </li>
      <li><a href="https://opendatapolicylab.org/academy/data-reuse-strategy/syllabus-2021/">Self-Directed Learning
          Program</a></li>
      <li><a href="#odpl">Open Data Policy Lab</a></li>
    </ul>
  </nav>
  <div id="intro" class="hero">
    <!-- <h4>Today’s Problems: Tomorrow’s Toolkit</h4> -->
    <h1>DATA STEWARDSHIP</h1>
    <h4>Developing a Data Reuse Strategy for Solving Public Problems</h4>


  </div>

  <div class="intro-text">

    <img src="img/intro-hero.jpg">
    <div class="intro-text-box">
      <p>Communities across the world face unprecedented challenges. Strained by climate change, crumbling
        infrastructure, growing economic inequality, and the continued costs of the COVID-19 pandemic, institutions need
        new ways of solving public problems and improving how they operate.
      </p>
      <p></p>
    </div>
  </div>
  <div class="text">
    <p> In recent years, data has been increasingly deployed to inform policies targeted at these issues. Yet, many of
      these data projects, data collaboratives, and open data initiatives remain scattered. As we enter into a new age
      of data use and reuse, a <a href="https://opendatapolicylab.org/third-wave-of-open-data/">third wave of open
        data</a>, it is more important than ever to be strategic and purposeful,
      to find new ways to connect the demand for data with its supply to meet institutional objectives.
    </p>
    <p>This program will help <a href="http://datastewards.net">data stewards</a>—responsible data leaders in the
      public and private sector—develop a data re-use strategy to solve public problems. Noting the ways data
      resources can inform their day-to-day and strategic
      decision-making, we teach participants ways they can use data to improve how they operate and pursue
      goals in the public’s interests. By working differently—using agile methods and data analytics—public sector and
      private sector leaders can further open data and reduce data access inequities in ways that advance their
      institution’s goals.</p>
  </div>
  <div class="call-out-box">
    <p>“With the Data Stewards Executive Program, I was able to bootstrap our data-sharing project into a more cohesive,
      real-world solution to tackle collaboration among organizations.”<br><br>
      <i><span class="quote">-- Jorge Alvarado, Chief Technology Officer at Swisscom Blockchain</span></i>
    </p>
  </div>
  <div id="overview" class="text-box">
    <h2><span id="underline">Overview</span></h2>
    <div class="section-box">
      <img id="tool" src="img/tools-image.jpg">
      <div class="container white">
        <p>In this accelerated learning program, we will teach participants how to develop a 21st century data strategy.
          Participants will learn:</p>
        <ol>

          <li><span id="bold">Why It Matters:</span> Focus on the three waves of open data and how data reuse has proven
            to be transformative;</li>
          <li><span id="bold">The Current State of Play:</span> Current practice around data reuse. It will then shift
            to the failures of current approaches and the need to shift from ad hoc engagements to more systematic,
            sustainable, and responsible models;</li>
          <li><span id="bold">Defining Demand:</span> Methodologies in how organizations can formulate questions that
            data can answer;</li>
          <li><span id="bold">Mapping Supply:</span> Methods for organizations to discover and assess the open and
            private data available to them;</li>
          <li><span id="bold">Matching Supply with Demand: </span> Operational models for meeting the needs of supply-
            and demand-side actors;</li>
          <li><span id="bold">Identifying Risks:</span> Risks that can emerge in the course of data
            reuse;</li>
          <li><span id="bold">Governance Models:</span> Principles, practices, and processes for effective and
            legitimate governance, risk mitigation, and decision-making. </li>
          <li><span id="bold">Institutionalizing Data Reuse:</span> How organizations can incorporate data
            reuse into their structure and foster future collaboration and data stewardship.
          </li>

        </ol>
      </div>
    </div>
  </div>
  <div id="goals" class="text-box">
    <h2><span id="underline">Program Learning Goals</span></h2>

    <div class="section-box process">

      <div class="container white process">
        <ul>
          <li>Empower you to solve public problems through systemic, sustainable, and responsible data reuse
          </li>
          <li>Provide you with a powerful toolkit to draft a data reuse strategy that seeks to address public needs</li>
          <li>Introduce the latest tools and technologies for use in designing, implementing and managing policies and
            services
          </li>
          <li>Enable you to pursue more purposeful, demand-driven partnerships and collaborations with a broad and
            inter-sectoral group of actors</li>
          <li>Guide you on the best ways to mitigate risks and promote responsible data practices</li>
          <li>Ensure you can translate data into insights and insights into meaningful action</li>

        </ul>
      </div>
      <a href="http://www.thegovlab.org" target="_blank"><img id="govlab-chalk" src="img/learning.jpg"></a>
    </div>
  </div>




  <div id="outline" class="text-box">
    <h2><span id="underline">Program Outline</span></h2>
    <div class="sessions">
      <button class="accordion"><span id="bold">Session 1</span>&nbsp Why It Matters<i
          class="material-icons down"></i></button>
      <div class="panel_session">
        <p>
          In this introductory session, we review the history of data reuse and the ways it has solved public
          problems. Through the framework of the three waves of open data, participants will learn about how views of
          data use and reuse have changed over time, the impact data reuse has made, and major challenges facing the
          field. This information will be conveyed through paradigmatic examples that illustrate different models of
          data use.</p>
      </div>

      <button class="accordion"><span id="bold">Session 2</span>&nbsp The Current State of Play<i
          class="material-icons down"></i></button>
      <div class="panel_session">
        <p> Following a discussion of the history of the movement, we will discuss current approaches to data reuse
          around the world. This session will develop the discussion of data models introduced
          previously—focusing on freedom of information, open government data, and data collaboration. It will then
          shift to the failures of current approaches and the need of current approaches and the need to shift from ad
          hoc engagements to more systematic, sustainable, and responsible models. Participants will receive a detailed
          explanation of the
          changes needed to realize a third wave of open data and the ways in which the third wave can produce public
          value. </p>
      </div>
      <button class="accordion">
        <span id="bold">Session 3</span>&nbsp Defining Demand<i class="material-icons down"></i></button>
      <div class="panel_session">
        <p>After providing the conceptual framework for discussion, we will discuss the first step in a data reuse
          project: understanding the problem an organization intends to solve and for whom; and how that translates into
          questions data can answer Participants will learn approaches for quickly researching complex problems,
          assessing public interest in identified problems, and segmenting these potential stakeholders according to
          interests and needs. Using experiences from The GovLab’s 100 Questions Initiative, this session will also
          describe participatory problem definition and agenda setting, processes which require the capacity to listen
          to all people affected or involved in that particular area inside and outside the organization. </p>
      </div>

      <button class="accordion"><span id="bold">Session 4</span>&nbsp Mapping Supply<i
          class="material-icons down"></i></button>
      <div class="panel_session">
        <p>Data reuse requires both relevant data resources and technical capacity. This session will teach participants
          how to assess both. In the first part of the session, we will explain how participants can find useful data in
          their organization and data outside it. Participants will learn how to conduct data audits, map the location
          of relevant assets among partner organizations (e.g. companies, nonprofits, and academia), and make use of
          open data platforms. In the latter portion of the session, participants will learn the value of internal
          capacity reviews and receive recommendations on how they can build internal support for data projects. These
          explanations will be informed by real-world examples.</p>
      </div>
      <button class="accordion"><span id="bold">Session 5</span>&nbsp Operational Models of Collaboration<i
          class="material-icons down"></i></button>

      <div class="panel_session">
        <p>Data reuse efforts can take several forms depending on the operational and organizational needs of supply and
          demand stakeholders. In this session, we will provide an overview of the forms these relationships can take,
          focusing on two axes: Engagement and Accessibility. We will also provide guidance on the organizational
          decisions that data reuse stakeholders must make about how their work is to be governed and maintained.</p>
      </div>

      <button class="accordion"><span id="bold">Session 6</span>&nbsp Identifying Risks<i
          class="material-icons down"></i></button>
      <div class="panel_session">
        <p>The use and reuse of data is not without risks to data practitioners, the intended beneficiaries of their
          projects, and others. In this session, we will review the various dangers that data practitioners need to be
          aware of, including those related to privacy, data security, poor decision-making, and open washing.
          Participants will additionally learn about the different risks data reuse poses to individuals, a relatively
          well-discussed issue, and groups, a relatively under-discussed problem.</p>
      </div>

      <button class="accordion"><span id="bold">Session 7</span>&nbsp Governance Modelss<i
          class="material-icons down"></i></button>
      <div class="panel_session">

        <p>Data reuse projects, such as data collaboratives, need principles, practices, and processes to enable
          stakeholders to interact with the data in an ethical, legal, and responsible manner. In this session, we will
          seek to demystify the legal and governance elements of data collaboration to support effective and legitimate
          decision-making address risks identified in the previous section. Participants will learn from a variety of
          tools, such as the Contractual Wheel of Data Collaboration model, and notable practices in the field to
          establish a legal basis for their work and deploy fit-for-purpose decision-making strategies across the data
          life cycle.
        </p>
      </div>

      <button class="accordion"><span id="bold">Session 8</span>&nbsp Institutionalizing Data Reuse<i
          class="material-icons down"></i></button>
      <div class="panel_session">

        <p>Data reuse projects can address public problems but their potential is best realized when they can be
          maintained in the long term. As such, organizations need to make changes in how they operate, ensuring they
          are positioned to take advantage of future cross-sector data collaborations. In this session, we will
          demonstrate that systematic, sustainable, and responsible data reuse can be best realized through the creation
          of a data steward position within an organization. The session will discuss how this role can coordinate
          efforts investigating where relevant data is, who has it, who needs it, and how it can best be used to tackle
          the problem. It will also discuss the role of the data steward in assessing human infrastructure, telling
          organizations what their gaps are and who they need to collaborate with and the priority they should assign to
          these relationships.</p>
      </div>

    </div>
    <div class="text-box" id="learning" style="margin-top:2rem;">
      <h2><span id="underline">Learning by Doing</span></h2>

      <p>When learning how to innovate in a large institution, it helps to talk with those who have done it before.
        Attendees
        enjoy confidential small group, off-the-record discussions as well as informal conversations with experienced
        data stewards and other professionals in
        data reuse organizations such as divisions within:</p>
      <div class="container white coaching">
        <ul>
          <li>International Organizations;</li>
          <li>National Statistical Offices;</li>
          <li>Sub-National Policymaking Bodies;</li>
          <li>Technology Start-ups;</li>
          <li>Companies with Data that could benefit the public interest;</li>
          <li>Leading Nonprofits and Philanthropies Supporting Governance Innovation; and</li>
          <li>Research Organizations that seek to engage non-traditional data sources.</li>
        </ul>
      </div>
    </div>
  </div>

  <!-- <div id="coaching" class="text-box">
    <h2><span id="underline">Online Project Coaching</span></h2>

    <p>In addition to remote training, we offer an online coaching program that includes:</p>
    <div class="section-box coaching">

      <div class="container white coaching">

        <ul>
          <li>A flexible, customized program responsive to the participants’ specific needs and challenges;</li>
          <li>Rigorous diagnosis of impediments to project implementation;</li>
          <li>A combination of subject-matter and skills-based training to address deficits in knowledge;</li>
          <li>Mentoring and coaching from experts with a track record of leading successful social change; and,</li>
          <li>High-quality original and curated content, tools, and resources.</li>
        </ul>
      </div>
      <div class="container white coaching exp">

        <ul>
          <li>Six all-group online meetings with GovLab faculty and expert guests;</li>
          <li>Written feedback on the materials they create;</li>
          <li>Connection to subject-matter experts and practitioners in the field;</li>
          <li>Private office hours for individuals or teams;</li>
          <li>“A demo day to present the results of the projects; and</li>
          <li>A dedicated coach and coordinator for every ten participant individuals/teams.</li>
        </ul>
      </div>
    </div>
    <img style="height: 200px" src="img/coaching.png">  




    <p>Each team aims to finish with a tested data collaborative, a proof of concept and a plan for its implementation
      and
      scale.</p>


  </div> -->


  <div class="text-box" id="organization" style="margin-top:2rem;">
    <h2><span id="underline">Organization of the Course</span></h2>

    <p>This course will be taught in an interactive, online group setting. Participants will meet every week for eight
      weeks of live instruction. While each classes will be carefully crafted to meet the needs of participants, each
      class will include:</p>
    <div class="container white coaching">
      <ul>
        <li>Half-day seminars delivered by top faculty and practitioners;
        </li>
        <li>Discussions with data stewards who have successfully developed data collaboratives or open data strategies
          for
          their organization;
        </li>
        <li>Custom resources including videos, case studies, articles, and other reading materials; and

        </li>
        <li>Hands-on exercises and opportunities to work with peers.
        </li>

      </ul>
    </div>
  </div>

  <div class="text-box" id="objectives" style="margin-top:2rem;">
    <h2><span id="underline">Course Objectives</span></h2>

    <p>By the end of the eight-week course period, participants will possess:</p>
    <div class="container white coaching">
      <ul>
        <li>A greater understanding of the three waves of open data; </li>
        <li>The ability to promote data responsibility and data stewardship within their organization; and
        </li>
        <li>An operational Data Collaboration and Reuse Strategy that serves the unique needs of the participant’s
          organization.
        </li>
      </ul>
    </div>
    <p>Upon completion, participants will join a network of course alumni through which they can
      continue to share regular insights and engage in peer-to-peer learning.</p>
  </div>
  <div class="call-out-box">
    <p>“This course was an incredible opportunity to learn from experienced peers, receive mentorship from academic and
      industry experts, and set strategy for a post-pandemic world, where public institutions need to set priorities
      with data and answer questions with data. It has been an honor to be a part of this inaugural cohort of Data
      Stewards, and I look forward to contribute to our growing community!”<br><br>
      <i><span class="quote">-- Christine Keung, Chief Data Officer, Mayor’s Office on Technology and Innovation, City
          of San Jose
        </span></i>
    </p>
  </div>
  <div id="application" class="text-box">
    <h2><span id="underline">Application Process and Costs</span></h2>

    <div class="section-box process">
      <a href="http://www.thegovlab.org" target="_blank"><img id="govlab-chalk" src="img/process.jpg"></a>
      <div class="container white process">
        <p>This course intends to attract and develop highly talented aspiring data stewards who are interested in
          better incorporating data reuse into their operations. While an application to participate is free,
          participation will be limited to a small cohort who work on data collaboration issues or serve individuals
          tasked by their organization to act as data stewards. Ideal applicants will have several years of experience
          in a leadership role and demonstrate the capacity to work across sectors.
          <br><br>
          Candidates are invited to apply until <b>Monday, January 31, 2022</b>. Admission is a selective process based
          on your professional achievement and
          organizational responsibilities
          <br><br>
          Applicants are asked to submit a resume and supporting material using the form <a
            href="https://forms.gle/Mu4jbDQRNWigUxRR6" target="_blank">here</a> and to answer a
          handful of short questions about your interests and experience.
          <br><br>
          Those interested in learning more can email us at datastewards@thegovlab.org. Please include “Data Reuse
          Strategy Course” in the subject line.
        </p>
      </div>

    </div>
  </div>
  <div class="call-out-box">
    <p>“I highly recommend the Data Stewardship Executive Education course. The lectures, the speakers and the visits to
      different Data Offices were exceptionally well curated. It is also a great opportunity for networking and
      discussing with peer about problems and challenges that all Data Stewards face in our daily work.”<br><br>
      <i><span class="quote">-- Juliana Outes Velarde, Data Steward, Government Outcomes Lab (GO Lab), Oxford University
        </span></i>
    </p>
  </div>
  <div id="home-page">
    <div id="team_section" class="faculty">
      <h2><span id="underline">Program Leads</span><br><br>
        <p class="sub">All sessions are taught by Open Data Policy Lab staff with both academic and real world
          experience.
        </p>
      </h2>

      <div class="team">

        <div v-for="(instructor,index) in facultyData.reverse()" v-if="instructor.program_lead == true"
          class="team-image team-50">
          <div class="square">
            <img v-bind:src="instructor.headshot.data.thumbnails[3].url">
          </div>
          <h4>{{instructor.name}}</h4>
          <h5>{{instructor.title}}</h5>
          <a href="faculty.html#stefaan"><span id="bio">BIO</span></a>
        </div>


      </div>
      <h2><span id="underline">Guest Faculty</span></h2>
      <div id="guest" class="team">

        <div v-for="(instructor,index) in facultyData.reverse()" v-if="instructor.program_lead == false"
          class="team-image">
          <div class="square">
            <img v-bind:src="instructor.headshot.data.thumbnails[3].url">
          </div>
          <h4>{{instructor.name}}</h4>
          <h5>{{instructor.title}}</h5>
          <a href="faculty.html#stefaan"><span id="bio">BIO</span></a>
        </div>


      </div>

    </div>
    <div class="call-out-box">
      <p>“What an honor to stand in the presence of such brilliant and thoughtful colleagues. It was so refreshing to be around people who were thinking about data strategy and to hear the things they were thinking. [Peer] presentations helped me feel as if I wasn't alone in my wanderings, and validated that my wanderings were 100% appropriate. Like there was not some ‘train’ I had missed, and I was sitting back at the station while everyone else was well on their way to their destination.”<br><br>
        <i><span class="quote">-- Kristin Medlin, Director of Research, Collaboratory & HandsOn Connect Cloud Solutions
          </span></i>
      </p>
    </div>
    <div id="faq" class="text-box">
      <h2><span id="underline">Frequently Asked Questions</span></h2>
      <div class="faqs">
        <div v-for="(question,index) in faqData">
          <div @click="toggleMessage(index)" v-bind:class="{ active: showMessage && index_active==index }"
            class="accordion"><span id="bold">{{question.question}}</span><i class="material-icons down"></i></div>
          <div v-if="showMessage && index_active==index" class="panel" v-html="question.answer">

          </div>
        </div>
      </div>
    </div>
  </div>


  <div id="odpl" class="text-box">
    <h2><span id="underline">About The Open Data Policy Lab</span></h2>
    <div style="padding-top:0" class="text">
      <p style="padding:0">An initiative of The GovLab with support from Microsoft, the <a
          href="https://opendatapolicylab.org" target="_blank">Open Data Policy Lab </a>seeks to
        accelerate the responsible reuse and opening of data for the benefit of society and the equitable spread of
        economic opportunity. As part of this mission, the Open Data Policy Lab supports decision-makers at local,
        state, and national levels, crafting a series of tools to help navigate and respond to the challenges posed by
        the Third Wave of Open Data. The GovLab, based at the Tandon School of Engineering at New York University, aims
        to promote openness, collaboration, and legitimacy in governance through the use of data.</p>
    </div>
  </div>
</body>
<footer>
  <img src="img/cc-logo.png">
  <p>This work is licensed under a <a href="http://creativecommons.org/licenses/by-sa/4.0/">Creative Commons
      Attribution-ShareAlike 4.0 International License</a>.</p>

</footer>
<script src="js/navbar.js"></script>
<script src="js/highlight.js"></script>
<script src="js/accordion.js"></script>
<script src="js/accordion-faculty.js"></script>


<script>/* Toggle between adding and removing the "responsive" class to topnav when the user clicks on the icon */
  function nav() {
    var x = document.getElementById("navbar");
    if (x.id === "navbar") {
      x.className += " responsive";
    } else {
      x.id = "navbar";
    }
  }

</script>
<script>
  $(document).ready(function () {
    var alert_msg = document.getElementById("alert-msg");
    $(".close").click(function () {
      alert_msg.style.display = "none";
    });
  });
</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js">
</script>
<script src='https://unpkg.com/vue@2.0.3/dist/vue.js'></script>
<script src="https://unpkg.com/vue-meta/dist/vue-meta.min.js"></script>
<script src="js/odpl-course.js"></script>

</html>